name: Check release builds

on:
  release:
    types: [released]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/nixpkgs-unstable.tar.gz
      - uses: actions/checkout@v6
      - run: nix-build . --arg pkgs "import <nixpkgs> {}" -A nix-index-cache -A nix-index-db

