name: Create new nix-index

on:
  workflow_dispatch:
  schedule:
    - cron: "36 21 * * 6"

env:
  NIXPKGS_BRANCH: "nixos-unstable"

jobs:
  nixpkgs:
    name: Get nixpkgs latest commit
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      commit: ${{ steps.get-commit.outputs.commit }}
    steps:
      - id: get-commit
        run: |
          COMMIT=$(gh api \
            -H "Accept: application/vnd.github.sha" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            "/repos/nixos/nixpkgs/commits/${NIXPKGS_BRANCH}"
          )
          echo "commit=${COMMIT}" >> "${GITHUB_OUTPUT}"
          echo "Using nixpkgs commit ${COMMIT}"

  release:
    runs-on: ubuntu-latest
    outputs:
      name: ${{ steps.name.outputs.name }}
    permissions:
      contents: write
    needs: nixpkgs
    steps:
      - name: Create release name
        id: name
        run: echo "name=$(date +'%Y-%m-%d-%H%M%S')" >> "${GITHUB_OUTPUT}"
      - uses: softprops/action-gh-release@v2
        with:
          name: ${{ steps.name.outputs.name }}
          tag_name: ${{ steps.name.outputs.name }}
          body: >
            Generated from nixpkgs commit [${{ needs.nixpkgs.outputs.commit }}](https://github.com/NixOS/nixpkgs/compare/${{ needs.nixpkgs.outputs.commit }}...${{ env.NIXPKGS_BRANCH }})
          draft: true

  build-nix-index:
    runs-on: ubuntu-latest
    outputs:
      commit: ${{ steps.checkout.outputs.commit }}
    steps:
     - id: checkout
       uses: actions/checkout@v6
       with:
         repository: "player131007/nix-index"
     - id: cache
       uses: actions/cache/restore@v5
       with:
         path: nix-index.closure
         key: nix-index-${{ steps.checkout.outputs.commit }}

     - uses: cachix/install-nix-action@v31
       if: steps.cache.outputs.cache-hit != 'true'
     - name: Build nix-index
       if: steps.cache.outputs.cache-hit != 'true'
       run: |
         nix build .#default
         nix-store --export $(nix-store --query --requisites ./result) > nix-index.closure
     - uses: actions/cache/save@v5
       if: steps.cache.outputs.cache-hit != 'true'
       with:
         path: nix-index.closure
         key: nix-index-${{ steps.checkout.outputs.commit }}

  create-index:
    name: Create index for each system
    runs-on: ubuntu-latest
    needs: [ nixpkgs, release, build-nix-index ]
    permissions:
      contents: write
    strategy:
      matrix:
        system: ['x86_64-linux']
    outputs:
      x86_64-linux: ${{ steps.hash.outputs.x86_64-linux }}
    steps:
     - uses: cachix/install-nix-action@v31
     - uses: actions/cache/restore@v5
       with:
         path: nix-index.closure
         key: nix-index-${{ needs.build-nix-index.outputs.commit }}
     - name: Restore nix-index cache
       run: |
         nix-store --import < nix-index.closure
         nix build "github:player131007/nix-index/${{ needs.build-nix-index.outputs.commit }}#default"

     - name: Generate index
       run: ./result/bin/nix-index --path-cache --system "${{ matrix.system }}" --filter-prefix NON_EXISTENT_PREFIX --nixpkgs "https://github.com/NixOS/nixpkgs/archive/${{ needs.nixpkgs.outputs.commit }}.tar.gz"
     - name: Compress index
       run: |
         tar -I "zstd -T0 -9" -cf "${{ matrix.system }}.tar.zst" paths.cache
         du -h "${{ matrix.system }}.tar.zst"
     - name: Upload index to release
       uses: softprops/action-gh-release@v2
       with:
         name: ${{ needs.release.outputs.name }}
         tag_name: ${{ needs.release.outputs.name }}
         draft: true
         files: "${{ matrix.system }}.tar.zst"
         fail_on_unmatched_files: true
     - name: Get hash of index
       id: hash
       run: |
         mkdir out
         mv paths.cache out
         echo "${{ matrix.system }}=$(nix-hash --type sha256 --sri ./out)" >> "${GITHUB_OUTPUT}"

  finalize-release:
    runs-on: ubuntu-latest
    needs: [ create-index, release ]
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Update generated.json
        id: update
        env:
          HASHES: ${{ toJSON(needs.create-index.outputs) }}
          RELEASE_NAME: ${{ toJSON(needs.release.outputs.name) }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          echo "${HASHES}" "${RELEASE_NAME}" | jq -s "{hashes: .[0], release: .[1]}" > generated.json
          git add generated.json
          git commit -m "release ${RELEASE_NAME}"
          git push
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ needs.release.outputs.name }}
          tag_name: ${{ needs.release.outputs.name }}
          draft: false
          make_latest: true
